.brand {
  font-family: Arial, Helvetica, sans-serif;
}

.recent-search {
  height: 500px;
  position: absolute;
  overflow-y: auto;
  width: inherit;
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}